@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;900&family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


.wrapper{
    overflow: hidden;
    min-height: 100%;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.6; 
    background-color: azure;   
    
}
.header{
    max-width: 1200px;      
    text-align: center;    
    margin: 0 auto 20px;
       
}
.nav p{
    
    color: darkblue;
    display: inline-block;
    padding: 20px;
    font-size: 40px;
    background-color: cornflowerblue;
    text-transform: uppercase;
    border-radius: 55px;
    font-family: "Pacifico" , cursive ;
    box-sizing: content-box;
    border: 2px solid rgb(4, 16, 77);
    box-shadow: 2px 5px 10px 4px rgb(0 0 0);
}
.nav p:hover{
    box-shadow: inset 5px 0 22px 10px rgb(0, 73, 207);
    font-size: 44px;
    color: rgb(16, 35, 70);
    border: none;    
    box-shadow: 2px 5px 10px 4px rgb(0 0 0);
}
.nav p:active{
   font-size: 40px;
}
.content{    
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;  
     
}

.content-box{    
    font-style: oblique;
    color: darkblue;    
    max-width: 1200px;
    border: 2px solid rgb(25, 55, 56);
    border-bottom: 3px dotted rgb(25, 55, 56);
    margin: 0 0 20px 0; 
    box-shadow: 2px 4px 10px 1px rgb(133, 165, 224); 

}
.content-list{
    color: crimson;
    text-align: left;
}
.item { 
  background: url(../img/chek.jpg) 0 5px / 20px no-repeat;
  padding: 0 0 0 20px;
}

.item:hover{
    text-shadow: 1px 1px 1px crimson;
    
}
.hut{
    
    height: 200px;
    background: url(../img/isokrat.jpeg) center  / 200px no-repeat;
    display: none;
    margin: 0 0 20px;
}
.hut:target{
    display: block;
    box-shadow:inset 2px 6px 22px 6px rgb(133, 165, 224);
}
.platon{
    
    height: 300px;
    background: url(../img/platon.jpg) center  / 300px no-repeat;
    display: none;
    margin: 0 0 20px;
}
.platon:target{
    display: block;
    box-shadow:inset 2px 6px 22px 6px rgb(133, 165, 224);
}
.lokk{
    
    height: 300px;
    background: url(../img/lokk.jpeg) center  / 300px no-repeat;
    display: none;
    margin: 0 0 20px;
}
.lokk:target{
    display: block;
    box-shadow:inset 2px 6px 22px 6px rgb(133, 165, 224);
}
.depp{
    
    height: 200px;
    background: url(../img/depp.jpeg) center  / 200px no-repeat;
    display: none;
    margin: 0 0 20px;
}
.depp:target{
    display: block;
    box-shadow:inset 2px 6px 22px 6px rgb(133, 165, 224);
}
.ranevska{
    
    height: 300px;
    background: url(../img/ranevska.jpg) center  / 300px no-repeat;
    display: none;
    margin: 0 0 20px;
}

.ranevska:target{
    display: block;
    box-shadow:inset 2px 6px 22px 6px rgb(133, 165, 224);
}

.footer a{ 
    display: inline-block;   
    padding: 15px;
    background-color: blanchedalmond;
    border-radius: 20px; 
    text-transform: uppercase; 
    margin: 0 0 10px 0;  
}
.footer a:hover{
    text-decoration: underline;
    box-shadow: 2px 3px 3px 2px coral;   

}